@use '@/styles/colors';

.ExerciseDetail {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.ExerciseText {
  font-weight: 600;
}

.ExerciseValue {
  &:is(a) {
    max-width: fit-content;
    color: colors.$blue;
  }
}