@use '@/styles/spacing';
@use '@/styles/screen-sizes' as screenSizes;

.ContentContainer:not(:has([id="homePage"], [id="coursePageStatic"])) {
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
  width: 100%;
  padding: spacing.$content-container-vertical-sm spacing.$content-container-horizontal-sm;

  @media (min-width: screenSizes.$sm) {
    padding: spacing.$content-container-vertical-md spacing.$content-container-horizontal-md;
  }
}
