@use '@/styles/colors';
@use '@/styles/typography';

.AvatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.AvatarPlaceholder {
  position: relative;
  overflow: hidden;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: colors.$dark-red;
  color: colors.$white;
  display: flex;
  align-items: center;
  justify-content: center;
  @include typography.heading-2;
}
