@use '@/styles/screen-sizes' as screenSizes;

.ResetPasswordPageContainer {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;

    .btnResetPassword {
      width: 100%;
      padding: 1rem;
      place-content: center;
    }
  }
}
